.intro-header {
	background: url(../img/intro/klaudd_background.jpg) repeat center center;
}

.main-stuff {
  background-color: rgba(0, 0, 0, 0.5);
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.card {
    /* Add shadows to create the "card" effect */
         padding: 10px;
        text-overflow: clip;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
    margin : 10px;
    transition: 0.3s;
    border-radius: 25px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.cardcontainer {
    padding: 2px 16px;
}

.cardcontainer img {
    border: 0px !important;
    border-radius: 15px;
    box-shadow: 2px 6px 10px 0 rgba(0,0,0,0.2);
    padding-bottom: 5px;
}

.profileimage {
    border-radius: 50% !important;
    border-style: solid !important;
    border-width: 3px !important;
    border-color: black !important;
    position: absolute; 
    top: 2px; 
    left: 2px;
}
