.intro-header {
	background: url(../img/intro/klaudd_background.jpg) repeat center center;
}

.main-stuff {
  background-color: rgba(0, 0, 0, 0.5);
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}